<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failure</title>
    <link rel="stylesheet" href="/css/failure.css">
</head>
<body>
    <section class="page-not-found">
        <!-- <img src="https://stories.freepiklabs.com/storage/23247/401-error-unauthorized-rafiki-2845.png" alt=""> -->
        <img src="/401-error-unauthorized-rafiki-2845.png" alt="">
        <h1>Unauthorized</h1>
        <p>Please enter username and password again and if accessing through mobile please enter it manually.Don't use autofill option.We are sorry for the inconvenience.</p>
        <p></p>
        <a href="/"><button>Back</button></a>
    </section>
</body>
</html>