<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" media="screen and (max-width: 1236px)" href="/css/phone.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="mainheader">
            <div class="logo">
                <img src="/output-onlinepngtools (1).png" alt="">
            </div>
            <nav>
                <a href="#">home</a>
                <a href="#about">about</a>
                <a href="#register">register</a>
                <a href="#contact">contact</a>
            </nav>
        </div>
        <main>
            <section class="left-section">
                <h2>
                    We Are Here For Your Care
                </h2>
                <h1>We're determined for
                    your better life.</h1>
                <p>You can get the care you need 24/7 – be it online or in
                    person. You will be treated by caring specialist doctors.</p>
            </section>
            <section class="right-sec">
                <figure>
                    <img src="/doctor-g37a6c816a_1920_low.png" alt="">
                </figure>
            </section>
        </main>
    </header>
    <section id="about">
        <div class="abt-container"id="about">
            <div class="aim">
                <p>Our aim is to make the procedure as simple as
                    possible for our patients and to offer treatment no matter
                    where they are.</p>
            </div>
            <div class="other">
                <div class="ctr1">
                    <h1>Trusted Professionals</h1>
                    <p>Consult one of the best doctors just by a click!</p>
                </div>
                <div class="ctr2">
                    <img src="https://media.istockphoto.com/id/1371713970/vector/vector-outline-illustration-of-a-medical-personnel-health-workers-hospital-physicians.jpg?s=612x612&w=0&k=20&c=Wr4pWnaR3uz47E1F-wdUmnV2ay9L0wOpNsoU9gb5grw="
                        alt="">
                </div>
            </div>
        </div>
    </section>
    <div class="register"id="register">
        <div class="box">
            <div class="left">
                <h2>Register as a Doctor</h2>
                <div class="sign">
<a href="/signUpDoctor">
                    <button>SIGN UP</button></a>
                    <a href="/signInDoctor">
                    <button>SIGN IN</button></a>


                </div>
            </div>
            <div class="right">
                <img src="https://cdn.pixabay.com/photo/2016/09/06/21/39/doctor-1650291__340.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="left">
                <h2>Register as a Patient</h2>
                <div class="sign">
                    <a href="/signUpPatient">
                    <button>SIGN UP</button></a>
                    <a href="/signInPatient">
                    <button>SIGN IN</button></a>

                </div>
            </div>
            <div class="right">
                <img src=" https://media.istockphoto.com/id/1198804111/vector/blowing-nose.jpg?s=612x612&w=0&k=20&c=LD2z0mi48AD9_2iuPWP3E5YnJ5dgyftxXSmCzUMpoSk="
                    id="sneeze" alt="">
            </div>
        </div>
    </div>
    <div class="contact"id="contact">
        <h1>Medtech</h1>
        <p>Copyright &#169 <%=y%></p>
        <p>Developed by Bhavna Panjwani</p>
        <div class="con">
            <div class="item">
                <h2>Connect with us</h2>
                <div class="icon">
                    <a href="https://github.com/Bhavna-26">
                    <i class="fa fa-github" style="font-size:24px">
                  
                    </i></a>
                    <a href="https://www.linkedin.com/in/bhavna-panjwani-896172204/">
                    <i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
                </div>
            </div>
            <div class="item">
                <h2>Contact Us</h2>

                <i class="fa fa-envelope" style="font-size:24px"></i>
                <span>bhavnapanjwani745@gmail.com</span>
                <br>
                <i class="fa fa-phone" style="font-size:24px"></i>
                <span>+91-9888888888</span>
            </div>
        </div>
    </div>
</body>

</html>