<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="/css/patient.css">
</head>
<body>
    <h1>WELCOME <%=pname%></h1>
<a href="/appointmentHistory"><h2>
    View your Appointment History</h2></a>
    <div >
    <table class="table">
        <thead>
        <tr>
        <th >DR.Name</th>
        <th >Specialist</th>
        <th >Slots</th>
        <th></th>
       </tr> 
    </thead>
            <%for(var i=0;i<dNames.length;i++){ %>
              <tbody>
               <tr> 
                   <td class="row-data borderstyle"> <span><%= dNames[i].username%></span></td>
                  <td class="row-data borderstyle">  <span><%= dNames[i].specialist%></span></td>
                  <td class="row-data borderstyle">  <form >
                        <input type="radio"id="time1"name="timings"onchange="selectedTime(event)"value="12:00PM">
                        <label for="time1">12:00PM</label>
                        <input type="radio"id="time2"name="timings"onchange="selectedTime(event)"value="12:15PM">
                        <label for="time2">12:15PM</label>
                        <input type="radio"id="time3"name="timings"onchange="selectedTime(event)"value="12:30PM">
                        <label for="time1">12:30PM</label>
                        <input type="radio"id="time4"name="timings"onchange="selectedTime(event)"value="12:45PM">
                        <label for="time1">12:45PM</label>
                    </form></td>
        
                <td><button onclick="show()">BOOK FOR APPOINTMENT</button></td>
               </tr> </tbody>
           <% }%>
        
    </table>
   </div>
 <!-- <style>
    table {
  border-spacing: 30px;
}
.table{
    width: 100%;
}
th{
    font-size: 1.5rem;
    
    border: 2px solid black;
}
td{
    font-size: 1.5rem;
  
}
.borderstyle{
    border: 2px solid black;
}
td button{
    padding: 5px;
    border-radius: 4px;
}
.btn{
   
    background-color: white;
    height: 3rem;
}
.btn a{
    color:blue;
    text-decoration: none;
}
    </style> -->
    
    <script src="/js/script.js"></script>
</body>
</html>