<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up  Patient</title>
    <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
    <!-- main container -->
    <div class="container">
<div class="form-wrap">
    <h1>Signup Patient</h1>
    <div class="signup-box">
    <div class="left-box">
        <form action="/signUpPatient"method="post">
            <input type="text"placeholder="First Name"name="username"class="form-control"autocomplete="off">
            <input type="text"placeholder="Last Name"class="form-control"autocomplete="off">
            <input type="email"placeholder="Email"class="form-control"autocomplete="off">
            <input type="password"placeholder="Password"class="form-control"name="password"autocomplete="off">
            <input type="password"placeholder="Confirm Password"class="form-control"autocomplete="off">
            <!-- <a href="/signInPatient">  -->
                <input type="submit"value="Sign Up Now">
            <!-- </a> -->
        </form>
    </div>
    <div class="right-box">
        <img src="https://cdn.pixabay.com/photo/2013/07/13/09/49/influenza-156098__340.png" alt="">
    </div></div>
</div>
    </div>
    <script>
        function myFunction(x) {
  if (x.matches) { // If media query matches
      var e=document.querySelectorAll(".form-control");
      for(var i=0;i<e.length;i++){
        console.log(e[i])
    e[i].setAttribute("autocomplete","on")
    }
  } 
}
var x = window.matchMedia("(max-width: 768px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction) // Attach listener function on state changes
    </script>
</body>
</html>