<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Doctor</title>
    <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
    <!-- main container -->
    <div class="container">
<div class="form-wrap">
    <h1>Signup Doctor</h1>
    <div class="signup-box">
    <div class="left-box">
        <form action="/signUpDoctor"method="post">
            <input type="text"placeholder="First Name"name="username"class="form-control"autocomplete="off">
            <input type="text"placeholder="Last Name"class="form-control"autocomplete="off">
            <input type="email"placeholder="Email"class="form-control"autocomplete="off">
            <input type="password"placeholder="Password"class="form-control"name="password"autocomplete="off">
            <input type="password"placeholder="Confirm Password"class="form-control"autocomplete="off">
            <input type="text"placeholder="Specialist"name="specialist"class="form-control"autocomplete="off">
            <input type="text"placeholder="Google meet link"name="glink"class="form-control"autocomplete="off">
            <!-- <a href="/signInDoctor">   -->
                <input type="submit"value="Sign Up Now">
            <!-- </a> -->
        </form>
    </div>
    <div class="right-box">
        <img src="https://media.istockphoto.com/id/1129223269/vector/doctor-with-stethoscope-and-medical-test-medic-icon-in-flat-style-health-care-services.jpg?s=612x612&w=0&k=20&c=-xVOhzfvA10gs2roVXJQkOocUVjtogG0Ci9UXdYieoA=" alt="">
    </div></div>
</div>
    </div>
</body>
</html>