*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif
    
 
    
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx{
    position: relative;
    height: 100%;
    width: 50%;
}
section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section  .contentBx .formBx{
    width: 50%;
}
section .contentBx .formBx h2{
    color: #6078db;
    font-weight: 600rem;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #45ccff;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;

}
section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
section .contentBx .formBx .inputBx input[type="submit"]{
    background:#45ccff;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .contentBx .formBx .inputBx p{
    color: #607d8b;
}
section .contentBx .formBx .inputBx a{
    color:#45ccff;
}
section .contentBx .formBx h3{
    color: #607d8b;
    text-align: center;
margin:40px 0 20px;
    font-weight: 500;
}
.signGG{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
    font-weight: 500;
    border: 1px solid #607d8b;
    
}
.signGG img{
    height: 30px;
    width: 30px;
}
.signGG .text{
    font-size:16px ;
    margin-left: 10px;
    color:  #607d8b;
}
 @media only screen and (max-width: 1145px) {
    section .imgBx {
        
        display: none;
        
    }
    
    section .contentBx{
        width: 100%;
    }
  }
